body {
background-image: url(https://raw.githubusercontent.com/sbr-rodrigues/Profile/refs/heads/main/Portif%C3%B3lio%20Backgroup%20Sabrina%20Rodrigues.jpg);
 width: 100%;
  height: 100vh;
  margin: 0;
  color: #f5f6f7;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;;
  padding: 20px;
}

h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.established {
  font-style: italic;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

h3, p {
  margin: 1em auto;
  color: white;
}
.menu {
  width: 90%;
  background-color: rgba(0, 51, 102, 0.9);
  margin: auto;
  padding: 40px;
  max-width: 1000px;
  border-radius: 10px;
  min-height: 600p
}

img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaço entre os ícones */
  margin-top: 20px;
}

.icon {
  width: 80px; /* Ajuste o tamanho conforme desejar */
  height: auto;
}

hr {
  height: 2px;
  background-color: rgb(252, 251, 255);
  border-color: rgb(240, 240, 245);
}

h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif;
}

footer {
  font-size: 14px;
}








